In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(
    "https://raw.githubusercontent.com/kirenz/datasets/master/oecd-new.csv")

In [3]:
df.head()

           country  gdp_per_capita  life_satisfaction
0           Russia         9054.91                6.0
1           Turkey         9437.37                5.6
2          Hungary        12239.89                4.9
3           Poland        12495.33                5.8
4  Slovak Republic        15991.73                6.1

In [11]:
COUNTRY = df['country'].to_list()
COUNTRY

selected_country = ['Germany']

In [12]:
df[df['country'].isin(selected_country)]

    country  gdp_per_capita  life_satisfaction
17  Germany        40996.51                7.0